@import "tailwindcss";


html {
	font-family: "Inter";
}

/***********/
/* FUENTES */
/***********/
@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 100 900;
	font-stretch: 100%;
	src: url("public/fonts/roboto-condensed.woff2") format("woff2");
}
@font-face {
	font-family: "DM Serif Display";
	font-style: normal;
	font-weight: 400;
	font-stretch: 100%;
	src: url(public/fonts/dm-serif-display.woff2) format("woff2");
}
@font-face {
  font-family: Inter Variable;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("public/fonts/InterVariable.woff2") format("woff2");
}


.Fonts-Inter { font-family: "Inter Variable", sans-serif; }
.Fonts-RobotoC { font-family: 'Roboto Condensed', sans-serif; letter-spacing: -4%; line-height: 0.8;}
.Fonts-DMSerif { font-family: 'DM Serif Display', serif; }


/***************/
/* COMPONENTES */
/***************/

.hide-not-hover{
	max-height: 0;
	opacity: 0;
	transition-duration: 500ms;
}

.muestra-noticia:hover > * > .hide-not-hover {
	max-height: 100px;
	opacity: 1;
}
.muestra-noticia:hover > * > .hide-not-hover {
	max-height: 80px;
	opacity: 1;
}

.muestra-noticia:hover > * > .muestra-noticia-titulo {
	background-color: #F7FF00;
	color: #000000;
}
.muestra-noticia-grande > * > .muestra-noticia-titulo {
	background-color: #F7FF00;
	color: #000000;
}

.muestra-noticia-fondo {
	background: linear-gradient(180deg,rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
}