

/***********/
/* FUENTES */
/***********/
@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 100 900;
	font-stretch: 100%;
	src: url("assets/fonts/roboto-condensed.woff2") format("woff2");
}
@font-face {
	font-family: "DM Serif Display";
	font-style: normal;
	font-weight: 400;
	font-stretch: 100%;
	src: url("assets/fonts/dm-serif-display.woff2") format("woff2");
}
@font-face {
  font-family: Inter Variable;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("assets/fonts/InterVariable.woff2") format("woff2");
}



/****** EXTRAS *******/
@font-face {
	font-family: "Lexend";
	font-style: normal;
	font-weight: 100 900;
	font-stretch: 100%;
	src: url("assets/fonts/lexend-latin.woff2") format("woff2");
	unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2212,U+2215;
	font-display: auto;
}
@font-face {
	font-family: "Lexend";
	font-style: normal;
	font-weight: 100 900;
	font-stretch: 100%;
	src: url("assets/fonts/lexend-latin-ext.woff2") format("woff2");
	unicode-range: U+0100-024F,U+0259,U+1E00-1EFF,U+20A0-20CF,U+2C60-2C7F,U+A720-A7FF;
	font-display: auto;
}
@font-face {
	font-family: "Lora";
	font-style: normal;
	font-weight: 400 700;
	font-stretch: 100%;
	src: url("assets/fonts/lora-latin.woff2") format("woff2");
	unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2212,U+2215;
	font-display: auto;
}
@font-face {
	font-family: "Lora";
	font-style: normal;
	font-weight: 400 700;
	font-stretch: 100%;
	src: url("assets/fonts/lora-latin-ext.woff2") format("woff2");
	unicode-range: U+0100-024F,U+0259,U+1E00-1EFF,U+20A0-20CF,U+2C60-2C7F,U+A720-A7FF;
	font-display: auto;
}
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 400;
	font-stretch: 100%;
	src: url("assets/fonts/montserrat-latin.woff2") format("woff2");
	unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2212,U+2215;
	font-display: auto;
}
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 400;
	font-stretch: 100%;
	src: url("assets/fonts/montserrat-latin-ext.woff2") format("woff2");
	unicode-range: U+0100-024F,U+0259,U+1E00-1EFF,U+20A0-20CF,U+2C60-2C7F,U+A720-A7FF;
	font-display: auto;
}
@font-face {
	font-family: "Noto Serif";
	font-style: normal;
	font-weight: 62.5% 100%;
	font-stretch: 100%;
	src: url("assets/fonts/noto-serif-latin.woff2") format("woff2");
	unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2212,U+2215;
	font-display: auto;
}
/* noto-serif-latin-ext */
@font-face {
	font-family: "Noto Serif";
	font-style: normal;
	font-weight: 62.5% 100%;
	font-stretch: 100%;
	src: url("assets/fonts/noto-serif-latin-ext.woff2") format("woff2");
	unicode-range: U+0100-024F,U+0259,U+1E00-1EFF,U+20A0-20CF,U+2C60-2C7F,U+A720-A7FF;
	font-display: auto;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 75% 100%;
	font-stretch: 100%;
	src: url("assets/fonts/roboto-latin.woff2") format("woff2");
	unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2212,U+2215;
	font-display: auto;
}
/* roboto-latin-ext */
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 75% 100%;
	font-stretch: 100%;
	src: url("assets/fonts/roboto-latin-ext.woff2") format("woff2");
	unicode-range: U+0100-024F,U+0259,U+1E00-1EFF,U+20A0-20CF,U+2C60-2C7F,U+A720-A7FF;
	font-display: auto;
}









.Fonts-Inter   { font-family: "Inter Variable", sans-serif; }
.Fonts-RobotoC { font-family: 'Roboto Condensed', sans-serif; letter-spacing: -3%; line-height: 0.9;}
.Fonts-DMSerif { font-family: 'DM Serif Display', serif; }
