@import "tailwindcss";
:root {
	--amarillo: #F7FF00;
}

html {
	font-family: "Inter";
}

/***********/
/* FUENTES */
/***********/
@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 100 900;
	font-stretch: 100%;
	src: url("assets/fonts/roboto-condensed.woff2") format("woff2");
}
@font-face {
	font-family: "DM Serif Display";
	font-style: normal;
	font-weight: 400;
	font-stretch: 100%;
	src: url(assets/fonts/dm-serif-display.woff2) format("woff2");
}
@font-face {
  font-family: Inter Variable;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("assets/fonts/InterVariable.woff2") format("woff2");
}

.Fonts-Inter   { font-family: "Inter Variable", sans-serif; }
.Fonts-RobotoC { font-family: 'Roboto Condensed', sans-serif; letter-spacing: -3%; line-height: 0.9;}
.Fonts-DMSerif { font-family: 'DM Serif Display', serif; }


/***********/
/* COLORES */
/***********/
.bg-amarillo { background-color: var(--amarillo); color: #000000;}
.bg-amarillo-hover:hover { background-color: var(--amarillo); color: #000000; text-decoration: none;}
.hover-parent:hover > .bg-amarillo-hover { background-color: var(--amarillo); color: #000000; text-decoration: none;}
.hover-parent:hover > * > .bg-amarillo-hover { background-color: var(--amarillo); color: #000000; text-decoration: none;}



/***************/
/* COMPONENTES */
/***************/
.hide-not-hover{
	max-height: 0;
	opacity: 0;
	transition: 500ms;
	overflow: hidden;
	text-overflow: ellipsis;
}
.muestra-noticia:hover > * > .hide-not-hover { max-height: 72px; opacity: 1; }
.muestra-noticia:hover  > * > .muestra-noticia-titulo { background-color: var(--amarillo); color: #000000; }
.muestra-noticia-grande > * > .muestra-noticia-titulo { background-color: var(--amarillo); color: #000000; }



.ideal-h-noticia {
	max-height: calc((100vh - 52px - 52px - 2rem)/2);
	min-height: calc((100vh - 52px - 52px - 2rem)/2);
}
.ideal-h-noticia-3 {
	max-height: calc((100vh - 52px - 3rem)/3);
	min-height: calc((100vh - 52px - 3rem)/3);
}

h1{
	font-size: 2.25rem;
}

.desenfoque-prog {
	background: rgba(0, 0, 0, 0.8);
	backdrop-filter: blur(64px);
	mask-image: linear-gradient(to top, rgba(0,0,0,1) 20%, rgba(0,0,0,0));
	transition-duration: 200ms;
}

.imagen-noticia { background-size: auto 100%; transition-duration: 500ms;}
.imagen-noticia:hover { background-size: auto 103%; }
