:root {
	--lectura-ancho-pagina: 0.6;
}

.n-medio {
	min-width: calc(100vw * var(--lectura-ancho-pagina));
}

.n-medio > img { min-width: calc(100vw * var(--lectura-ancho-pagina)); }

.n-barra-lateral {
	display: hidden;
	width: 100%;
}

@media (min-width: calc( 100vw + 200px - (100vw * var(--lectura-ancho-pagina)))) {
	.n-bl-derecha{
		display: flex !important;
	}
}

@media (min-width: calc( 100vw + 400px - (100vw * var(--lectura-ancho-pagina)))) {
	.n-bl-izquierda{
		display: flex !important;
	}
}